language: python
python:
  - "3.3"
  - "3.2"
  - "2.7"
  - "2.6"
install:
  - "pip install -r requirements.txt --use-mirrors"
  - "pip install -r test-requirements.txt --use-mirrors"
  - "pip install --use-mirrors flake8 pep8-naming"
script: nosetests && flake8 videolectures
